<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>icecubesapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>icecubesapp</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Atkinson-Hyperlegible-Regular-102.ttf</string>
		<string>OpenDyslexic-Regular.otf</string>
		<string>Inter-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>

	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.opentype-font</string>
			<key>UTTypeDescription</key>
			<string>OpenType Font</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.font</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>otf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.truetype-ttf-font</string>
			<key>UTTypeDescription</key>
			<string>TrueType Font</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.font</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ttf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
